<div class="container-fluid">
    <div class="row">
        <form [formGroup]="filterForm" (ngSubmit)="onAdd()">
            <div class="row">
                <div class="col-2">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Select Tender Category</mat-label>
                        <mat-select multiple formControlName="category" (selectionChange)="getExpertiseCategory()">
                            <mat-option> All </mat-option>
                            <mat-option *ngFor="let cat of categoryDropdown;let i = index" [value]="cat.id">{{cat.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label> Select Expertise Area</mat-label>
                        <mat-select multiple formControlName="expertiseCategory">
                            <mat-option *ngFor="let exp of expertiseCategory" [value]="exp.id">{{exp.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label> Select Question Category</mat-label>
                        <mat-select formControlName="questionCategory" (selectionChange)="getQuestionType()">
                            <mat-option *ngFor="let quec of questionCategory" [value]="quec.id">{{quec.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label> Select Question Type</mat-label>
                        <mat-select formControlName="questionType" (selectionChange)="getSelecteCount()">
                            <mat-option *ngFor="let quet of questionType" [value]="quet.id">{{quet.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label> Select Question Type</mat-label>
                        <mat-select formControlName="questionCount">
                            <mat-option *ngFor="let count of selectCountArray" [value]="count">{{count}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <button mat-stroked-button type="reset">clear</button>
                    <button mat-raised-button color="warn" class="ms-2" type="Submit">Add</button>
                </div>
            </div>
        </form>
    </div>

    <mat-card *ngIf="questionType1">
        <div class="row">
            <h3><b>Question</b></h3>
            <form [formGroup]="addQueForm">
                <div>
                    <div>
                        <div class="row">
                            <div class="col-10"></div>
                            <div class="col-1">
                                <mat-checkbox class="example-margin">Mandatory Question</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 text-center pt-4">
                                <h5>Q1.</h5>
                            </div>
                            <div class="col-11 ms-0">
                                <mat-form-field appearance="outline">
                                    <mat-label>Enter Question</mat-label>
                                    <input matInput placeholder="Enter Question"  formControlName="questionTitle">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let ele of forLoopCountArray; let i= index">
                        <div *ngIf="forLoopCountArray.length > i" class="row">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <h3>{{ele}}</h3>
                                </div>
                                <ng-container formArrayName="questionOptions">
                                    <div class="col-11" style="margin-left: 10%;">
                                        <mat-form-field appearance="outline" style="width: 60%;">
                                            <mat-label>Enter Answer</mat-label >
                                            <input matInput placeholder="Enter Answer">
                                        </mat-form-field>
                                    </div>
                                </ng-container>
                                

                            </div>
                            <div style="margin-left: 12%;" class="row">
                                <h5 class="col-1">{{i+1}}</h5>
                                <div class="col-8">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Enter Answer Option Variant</mat-label>
                                        <textarea type="text" matInput
                                            placeholder="Enter Answer Option Variant"> </textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-1">
                                    <mat-icon>add</mat-icon>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10"></div>
                                <div class="col-1">
                                    <mat-checkbox class="example-margin">Add Sub Question</mat-checkbox>
                                </div>
                                <hr class="mt-3">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>

</div>