<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="SrNo" >
                    <th mat-header-cell *matHeaderCellDef> SrNo </th>
                    <td mat-cell *matCellDef="let element;let i = index"> {{(currentPage*10)+(i+1)}} </td>
                </ng-container>

                <ng-container matColumnDef="vehicleNo">
                    <th mat-header-cell *matHeaderCellDef>Vehicle No</th>
                    <td mat-cell *matCellDef="let element"> {{element.vehicleRegistrationNo}} </td>
                </ng-container>

                <ng-container matColumnDef="ownerName">
                    <th mat-header-cell *matHeaderCellDef> Owner Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.ownerName}} </td>
                </ng-container>

                <ng-container matColumnDef="ownerMobileNo">
                    <th mat-header-cell *matHeaderCellDef> Owner Mobile No </th>
                    <td mat-cell *matCellDef="let element"> {{element.ownerMobileNo}} </td>
                </ng-container>

                <ng-container matColumnDef="driverMobileNo">
                    <th mat-header-cell *matHeaderCellDef>Driver Mobile No </th>
                    <td mat-cell *matCellDef="let element"> {{element.driverMobileNo}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element"><button mat-icon-button color="accent" style="outline: none">
                            <mat-icon (click)="editProfile(element)">create</mat-icon>
                        </button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="totalCount" [pageSize]="10" [pageIndex]="currentPage" showFirstLastButtons (page)="pageChanged($event)"
                aria-label="Select page of GitHub search results">
            </mat-paginator>
        </div>
        <div class="col-4">
            <h3>Register Vehical</h3>
            <mat-card>
                <form [formGroup]="resigterVehicalFrom" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <ng-container>
                                <label>Transport Type:-</label>
                                <mat-radio-group aria-label="Transport Type" formControlName="transportType">
                                    <mat-radio-button class="mt-2" value="Vehicle">Vehicle</mat-radio-button>
                                </mat-radio-group>
                            </ng-container>
                        </div>
                        <div class="col-md-6">
                            <ng-container>
                                <label>Number Format:-</label><br>
                                <mat-radio-group aria-label="Number Format" formControlName="version">
                                    <mat-radio-button class="mt-2" value="old">Old </mat-radio-button>
                                    <mat-radio-button class="mt-2 ms-2" value="new">New </mat-radio-button>
                                </mat-radio-group>
                            </ng-container>
                        </div>
                    </div>

                    <!-- --------------------------------if radio button value is new-------------------------------- -->
                    <ng-container>
                        <div class="row mt-4">

                            <label>Vehicle Number</label>

                            <ng-container *ngIf="resigterVehicalFrom.value.version=='new'">
                                <div class="col-md-3">
                                    <ng-container>
                                        <mat-form-field appearance="legacy">
                                            <input matInput formControlName="state" />
                                        </mat-form-field>
                                    </ng-container>
                                </div>
                                <div class="col-md-3">
                                    <ng-container>
                                        <mat-form-field appearance="legacy">
                                            <input matInput formControlName="district" />
                                        </mat-form-field>
                                    </ng-container>
                                </div>
                                <div class="col-md-3">
                                    <ng-container>
                                        <mat-form-field appearance="legacy">
                                            <input matInput formControlName="series" />
                                        </mat-form-field>
                                    </ng-container>
                                </div>
                                <div class="col-md-3">
                                    <ng-container>
                                        <mat-form-field appearance="legacy">
                                            <input matInput formControlName="number" />
                                        </mat-form-field>
                                    </ng-container>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="resigterVehicalFrom.value.version =='old'">
                                <div class="col-md-3">
                                    <ng-container>
                                        <mat-form-field appearance="legacy">
                                            <input matInput formControlName="oldState" />
                                        </mat-form-field>
                                    </ng-container>
                                </div>
                                <div class="col-md-3">
                                    <ng-container>
                                        <mat-form-field appearance="legacy">
                                            <input matInput formControlName="oldNum" />
                                        </mat-form-field>
                                    </ng-container>
                                </div>
                            </ng-container>

                        </div>
                    </ng-container>

                    <div class="row mt-4">
                        <div class="col-md-12">
                            <ng-container>
                                <mat-radio-group aria-label="Block/Unblock" formControlName="isBlock">
                                   <mat-radio-button class="mt-2" value="true">Block </mat-radio-button>
                                    <mat-radio-button class="mt-2 ms-2" value="false">UnBlock </mat-radio-button>
                                  </mat-radio-group>
                            </ng-container>
                        </div>
                    </div>
        
                    <!-- ---------------------------if radio Option is block mention Remark--------------------------- -->
                    <ng-container *ngIf="resigterVehicalFrom.value.isBlock == 'true'">
                       <div class="mt-4">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Remark</mat-label>
                            <textarea matInput placeholder="Remark" formControlName="remark"></textarea>
                          </mat-form-field>
                       </div>
                    </ng-container>
                    <!-- ---------------------------------------------------------------------------------------------- -->

                    <div class="row mt-4">
                        <div class="col-md-12">
                            <ng-container>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Owner Mobile Number</mat-label>
                                    <input matInput placeholder="Owner Mobile Number" formControlName="ownerMobileNo" />
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </div>

                    <ng-container>
                        <mat-form-field appearance="legacy">
                            <mat-label>Owner Name</mat-label>
                            <input matInput placeholder="Owner Name" formControlName="ownerName" />
                        </mat-form-field>
                    </ng-container>

                    <ng-container>
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Address</mat-label>
                            <textarea matInput placeholder="Adderss" formControlName="address"></textarea>
                        </mat-form-field>
                    </ng-container>

                    <ng-container>
                        <mat-form-field appearance="legacy">
                            <mat-label>Driver Name</mat-label>
                            <input matInput placeholder="Driver Name" formControlName="driverName" />
                        </mat-form-field>
                    </ng-container>

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <ng-container>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Driver Mobile Number</mat-label>
                                    <input matInput placeholder="Driver Mobile Number"
                                        formControlName="driverMobileNo" />
                                </mat-form-field>
                            </ng-container>
                        </div>
                        <div class="col-md-6">
                            <ng-container>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="eTP App Mobile Number"
                                        formControlName="eTpMobileNumber" />
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </div>

                    <ng-container>
                        <mat-form-field appearance="outline">
                            <mat-label>Vehicle Type</mat-label>
                            <mat-select formControlName="vehicleTypeId">
                                <mat-option *ngFor="let vehicle of vehicleTypeArr" [value]="vehicle.id">{{vehicle.type}}</mat-option>
                               
                            </mat-select>
                        </mat-form-field>
                    </ng-container>

                    <div class="row">
                        <div class="col-md-6">
                            <ng-container>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Permit Number" formControlName="permitNo" />
                                </mat-form-field>
                            </ng-container>
                        </div>
                        <div class="col-md-6">
                            <ng-container>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Driver Licence Number" formControlName="licenseNo" />
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </div>

                    <ng-container>
                        <mat-form-field appearance="legacy">
                            <input matInput placeholder="Device Company Name" formControlName="deviceCompanyName" />
                        </mat-form-field>
                    </ng-container>

                    <ng-container>
                        <mat-form-field appearance="legacy">
                            <input matInput placeholder="Device Id" formControlName="deviceId" />
                        </mat-form-field>
                    </ng-container>

                    <div class="row">
                        <div class="col-md-6">
                            <ng-container>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Device Sim No 1*" formControlName="deviceSIMNo" />
                                </mat-form-field>
                            </ng-container>

                        </div>
                        <div class="col-md-6">
                            <ng-container>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Telecom Provider Sim 1</mat-label>
                                    <mat-select formControlName="primaryTelecomProvider">
                                        <mat-option *ngFor="let telecom of telecomProviderArr" [value]="telecom">{{telecom}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <ng-container>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Device Sim No 2*" formControlName="secondarySIMNo" />
                                </mat-form-field>
                            </ng-container>
                        </div>

                        <div class="col-md-6">
                            <ng-container>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Telecom Provider Sim 2</mat-label>
                                    <mat-select formControlName="secondaryTelecomProvider">
                                        <mat-option *ngFor="let telecom of telecomProviderArr" [value]="telecom">{{telecom}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <ng-container>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Length (Meter)" formControlName="length" />
                                </mat-form-field>
                            </ng-container>
                        </div>
                        <div class="col-md-6">
                            <ng-container>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Width (Meter)" formControlName="width" />
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </div>

                    <!-- ----------------------------------------------image upload -->
            <div class="row mt-1">
                <div class="row">
                    <div class="col-md-4">
                        <a (click)="FrontView.click()" >Front View</a>
                        <input type="file" #FrontView style="display: none;" (change)="imgUpload($event,'FrontViewImg')">
                        <mat-icon *ngIf="FrontView.value" (click)="clearImg('FrontViewImg')" style="float: right;">highlight_off</mat-icon>
                        <img src="{{FrontViewImg}}" width="100px" height="100px">
                        <!-- <button >Clear</button> -->
                    </div>
                    <div class="col-md-4">
                        <a (click)="SideView.click()" >Side View</a>
                        <input type="file" #SideView style="display: none;" (change)="imgUpload($event,'SideViewImg')">
                        <mat-icon *ngIf="SideView.value" (click)="clearImg('SideViewImg')" style="float: right; margin-top: 20px;">highlight_off</mat-icon>
                        <img src="{{SideViewImg}}" width="100px" height="100px">
                        <!-- <button >Clear</button> -->
                    </div>
                    <div class="col-md-4">
                        <a (click)="numberView.click()" >Num Plate</a>
                        <input type="file" #numberView style="display: none;" (change)="imgUpload($event,'numberViewImg')">
                        <mat-icon *ngIf="numberView.value" (click)="clearImg('numberViewImg')" style="float: right;">highlight_off</mat-icon>
                        <img src="{{numberViewImg}}" width="100px" height="100px">
                        <!-- <button >Clear</button> -->
                    </div>
                    <!-- <button *ngIf="SideView.value==isSelected" (click)="removeAll('SideViewImg','SideViewImg')">delete</button> -->
                    <button class="btn btn-outline-danger rounded-pill text-center mt-3" *ngIf="FrontView.value && SideView.value && numberView.value" (click)="clearImg('clearAll')">clear All</button>
                </div>
                <!-- <a (click)="uploadVechImages()">Upload</a> -->
    </div>
    <!-- ------------------------------------------------------------ -->

                    <div class="mt-4">
                        <button  mat-raised-button color="warn"> Clear </button>
                        <button style="margin-left: 180px" type="submit" mat-raised-button color="primary">Submit</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>